@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #666;
  color: #fff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Roboto, sans-serif;
}

.banner-bg {
  background-image: var(--mobile-bg);
}

@media (min-width: 37.5em) {
  .banner-bg {
    background-image: var(--desktop-bg);
  }
}