@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Roboto, sans-serif;
}

.banner-bg {
  background-image: var(--mobile-bg);
}

@media (min-width: 48em) {
  .banner-bg {
    background-image: var(--desktop-bg);
  }
}