@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #666;
  color: #fff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Roboto, sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.banner-bg {
  background-image: var(--mobile-bg);
}

@media (min-width: 37.5em) {
  .banner-bg {
    background-image: var(--desktop-bg);
  }
}